<h2>Sign Up Confirmation</h2>

<h4>Are you sure these values are correct?</h4>
<p>Email: <% @user.email %><p>
<p>Name: <% @user.name %>
<div class="form-group">
  <%= f.submit "Yes", class: 'btn btn-success' %>
  <%= f.submit "No", class: 'btn btn-no' %>
</div>
