<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<div class="social-btn">
  <%= link_to "@realtimschmidt", "https://twitter.com/realtimschmidt", class: "social-btn-text" %>
</div>
